<app-header titulo="Desarrolladores"></app-header>

<ion-content>

  <ion-card-header>
    <ion-card-title color="warning">Conoce a nuestro equipo</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Erick" src="../../../assets/img/miembro1.jpeg" />
        </ion-thumbnail>
        <ion-label>
          <h2>Erick Francisco Cruz Robles</h2>
          <p><strong>Rol:</strong> Desarrollador de Aplicación Móvil</p>
          <p><strong>Sobre él:</strong> Se encargó de desarrollar la aplicación móvil con Ionic y Angular, usando Visual Studio Code.</p>
          <p><strong>Habilidades:</strong> Ionic, Angular, TypeScript</p>
          <p><strong>También participó en:</strong> Desarrollo del videojuego en Unity 2D</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Nicolas" src="../../../assets/img/miembro2.jpeg" />
        </ion-thumbnail>
        <ion-label>
          <h2>Nicolás Lemus Cisneros</h2>
          <p><strong>Rol:</strong> Desarrollador Web</p>
          <p><strong>Sobre él:</strong> Creó una aplicación web progresiva (PWA) utilizando Astro, optimizándola para rendimiento y compatibilidad.</p>
          <p><strong>Habilidades:</strong> Astro, JavaScript, CSS, PWA</p>
          <p><strong>También participó en:</strong> Desarrollo del videojuego en Unity 2D</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Fernando" src="../../../assets/img/miembro3.jpeg" />
        </ion-thumbnail>
        <ion-label>
          <h2>Fernando Hernández Cervantes</h2>
          <p><strong>Rol:</strong> Desarrollador de Videojuegos</p>
          <p><strong>Sobre él:</strong> Se encargó de diseñar y programar un videojuego en 2D con Unity, enfocándose en mecánicas, físicas y experiencia de usuario.</p>
          <p><strong>Habilidades:</strong> Unity 2D</p>
          <p><strong>También participó en:</strong> Desarrollo de la aplicación móvil y la web</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>

  

</ion-content>
