<app-header titulo="Galería De Imágenes"></app-header>

<ion-content >
  <ion-header >
   
  </ion-header>

  <ion-content class="ion-padding">
    <ion-searchbar placeholder="Buscar imágenes..."></ion-searchbar>
  
    <ion-card>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Imagen</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Descripcion
      </ion-card-content>
    </ion-card>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-content>Imagen 1</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-content>Imagen 2</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-content>Imagen 3</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-content>Imagen 4</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  