<app-header titulo="Galería De Imágenes"></app-header>

<ion-content class="ion-padding">
  
  <ion-card *ngIf="galeria.length > 0">
    <img [src]="galeria[0].imagen"/>
    <ion-card-header>
      <ion-card-title>{{ galeria[0].nombre }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of galeria.slice(1)">
        <ion-card>
          <img [src]="item.imagen" class="imagen-pequena" />
          <ion-card-content>{{ item.nombre }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
