
  .item-card {
    margin: 16px;
    border-radius: 12px;
    background: #1e1e1e; 
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
    }
  
    ion-card-header {
      padding: 16px;
      text-align: center;
      background: #333; /* Fondo gris oscuro para el encabezado */
      border-radius: 12px 12px 0 0;
  
      ion-card-title {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
      }
  
      ion-card-subtitle {
        font-size: 1.1rem;
        color: #bbbbbb; /* Texto gris claro para el subtítulo */
        margin-top: 5px;
      }
    }
  
    ion-card-content {
      padding: 20px;
      background-color: #1e1e1e; /* Fondo oscuro para el contenido de la tarjeta */
      color: #ffffff; /* Texto blanco para el contenido */
  
      .item-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
      }
  
      ion-list {
        ion-item {
          font-size: 1.2rem;
          padding: 12px 0;
  
          ion-label {
            font-size: 1.1rem;
            color: #ffffff; /* Texto blanco para la lista */
          }
        }
      }
    }
  }
  
 
  ion-button {
    font-size: 1.1rem;
    color: #3880ff; /* Color brillante para los botones */
    margin: 0 auto;
  
    ion-icon {
      margin-right: 8px;
    }
  }
  .icono {
    width: 30px ;
    height: 30px ;
}
  
  