<app-header titulo="Controles"></app-header>

<ion-content>
  
  <ion-card>
    <img src="../../../assets/img/teclado.png" alt="Teclado" />
  </ion-card>
  <ion-item>
    <ion-label color="warning">
      Teclado
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Este juego es apto solo para teclados
    </ion-label>
  </ion-item>

  <ion-card>
    <img src="../../../assets/img/8.png" alt="Movimiento" />
  </ion-card>
  <ion-item>
    <ion-label color="warning">
      Teclas de Movimiento
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Teclas para mover al Capybara de un lado a otro.
    </ion-label>
  </ion-item>

  <ion-card>
    <img src="../../../assets/img/9.png" alt="Brincar" />
  </ion-card>
  <ion-item>
    <ion-label color="warning">
      Tecla para Brincar
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Tecla para saltar los obstáculos que hay durante el juego.
    </ion-label>
  </ion-item>

</ion-content>
